#pie{
    background-color: $blackFooter;
}

.div__rrss{
    grid-area: rrss;
}

/* Texto sigueme */
p.p__rrss{
    color: $mainWhite;
    margin-top: 1rem;
}
/* Texto sigueme */

#pie ul{
    margin: 0;
}